name: Check

on: [push]

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'liberica'
          java-version: '25'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          validate-wrappers: true
          cache-encryption-key: ${{ secrets.GradleEncryptionKey }}
      - name: Check
        run: ./gradlew check
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'liberica'
          java-version: '25'
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
